*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #25003d;
}
.container{
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 340px;
    padding: 30px 35px;
    height: 450px;
    background-color: #fff;
    border-radius: 5px;
    
}
.box::before{
    content: 'USUÁRIO';
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 0;
    background-color: #7003ff;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 0 0 0 0;
}
input{
    border: 2px solid #000;
}
.form-person{
    text-align: center;
    background-color: #c2bfbf;
    border-radius: 50%;
    width: 100px;
    margin: 60px auto 20px auto;
}
i{
    font-size: 4em;
    color: #7003FF;
}
.login{
    margin: 20px 0;
    padding: 10px;
    background-color: #7003FF;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    transition: 0.5s  ease-in all;
}
.login:hover{
    background-color: #757575;
}
.error{
    font-size: 0.75em;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 2px;
    margin-top: 2px;
}